<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e199a4">  <td>20/03/30 17:07:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ABTest.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.ABTest@3f197a46]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="e199a4">  <td>20/03/30 17:07:30</td>   <td>639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ABTest.teardawon(java.lang.reflect.Method, org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:org.br.curso.tests.ABTest@3f197a46]">&lt;&lt;teardawon</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="e199a4">  <td>20/03/30 17:07:30</td>   <td>392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ABTest.validar_AB()[pri:1, instance:org.br.curso.tests.ABTest@3f197a46]">validar_AB</td> 
  <td>main@371800738</td>   <td></td> </tr>
</table>
